* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  & > nav {
    li {
      list-style-type: none;
      text-align: center;
      a{
        color:black;
      }
    }
  }
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 3vw, 5rem);

  main{
      display: flex ;
      flex-direction:column;
      gap: clamp(1rem, 3vw, 5rem);
      .message{
        background-color:grey;
      }
    }
  }
}
