<html>
  <body>
   <form method="POST" action="/new">
    <div>
    <label>Name</label>
    <input name="username" type="text"/>
    </div>
    <div>
    <label>Message</label>
    <input name="message" type="text"/>
    </div>
      <button type="submit">Send Message</button>
   </form>
  </body>
</html>
