<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%-include("navbar",{link:link}) %>
    <main>
    <% messages.forEach((msg)=>{%>
      <div class="message">
      <p><%= msg.username %></p>
      <p><%= msg.text %></p>
      <p><%= msg.added %></p>
      </div>
    <% }) %>
    <main>
  </body>
</html>
